*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Fredoka',sans-serif;

}


body{

min-height:100vh;

background:

linear-gradient(#8ED8FF,#FFFFFF);

}




header{


height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;


box-shadow:0 5px 20px #0002;


}



.logo{

font-size:28px;

color:#4F46E5;

font-weight:bold;

}



.stats{

font-size:22px;

}




.casa{

text-align:center;

padding:50px 8%;

}



.casa h1{

font-size:50px;

color:#4F46E5;

margin-top:30px;

}



.casa p{

font-size:22px;

}





.byte-box{


display:flex;

justify-content:center;

align-items:center;

gap:30px;


}




.byte-box img{


width:180px;


animation:flotar 3s infinite;


}




.mensaje{


background:white;

padding:25px;

border-radius:25px;


font-size:22px;


box-shadow:0 10px 20px #0003;


}





/* PROGRESO */


.progreso{


margin:50px auto;

max-width:500px;


}


.barra{


height:35px;

background:#ddd;

border-radius:30px;

overflow:hidden;


}



#xp{


height:100%;

width:25%;

background:#FFD93D;

border-radius:30px;


}





/* MENU */


.menu{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(220px,1fr));


gap:30px;


margin-top:60px;


}



.opcion{


background:white;


padding:35px;


border-radius:35px;


font-size:40px;


box-shadow:0 15px 30px #0002;


cursor:pointer;


transition:.4s;


}



.opcion:hover{


transform:translateY(-15px) scale(1.05);


}


.opcion h3{

font-size:30px;

color:#4F46E5;

}


.opcion p{

font-size:18px;

}




@keyframes flotar{


50%{

transform:translateY(-15px);

}


}



@media(max-width:700px){


.byte-box{

flex-direction:column;


}


.casa h1{

font-size:35px;

}


}

/*===========================
    ESTADISTICAS JUGADOR
===========================*/


.estadisticas{


display:flex;

justify-content:center;

gap:40px;

margin-top:40px;


}



.estadisticas div{


background:white;

padding:25px;

border-radius:25px;


font-size:40px;


box-shadow:

0 10px 20px #0002;


}



.estadisticas h3{


font-size:22px;

color:#4F46E5;


}



.estadisticas span{


font-size:28px;

font-weight:bold;


}



#textoXP{


font-size:20px;

margin-top:10px;

font-weight:bold;


}




@media(max-width:600px){


.estadisticas{


flex-direction:column;

align-items:center;


}


}