*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Fredoka',sans-serif;

}


body{

min-height:100vh;

background:linear-gradient(#87CEFA,#EFFFFF);

overflow-x:hidden;

}



/* HEADER */


header{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

box-shadow:0 5px 20px #0002;

}


.logo{

font-size:28px;

font-weight:bold;

color:#4F46E5;

}


.stats{

font-size:22px;

color:#555;

}





/* CONTENIDO */


.aventura{

text-align:center;

padding:50px 8%;

}



.aventura h1{

font-size:50px;

color:#4F46E5;

}



.aventura p{

font-size:22px;

}




/* BYTE */


.byte{

display:flex;

justify-content:center;

align-items:center;

gap:30px;

margin-bottom:30px;

}



.byte img{

width:160px;

animation:flotar 3s infinite;

}




.mensaje{


background:white;

padding:20px;

border-radius:25px;

font-size:22px;

box-shadow:0 10px 20px #0002;

}





/* MAPA */


.mapa{


margin-top:70px;

display:flex;

flex-direction:column;

align-items:center;

gap:50px;


}




.nivel{


width:350px;

background:white;

padding:30px;

border-radius:35px;

box-shadow:0 15px 30px #0002;

transition:.4s;


position:relative;


}



.nivel:hover{

transform:scale(1.05);

}




.icono{

font-size:70px;

}




.nivel h2{

color:#4F46E5;

font-size:30px;

}



button{


background:#FFB703;

border:none;

padding:15px 35px;

border-radius:30px;

font-size:20px;

cursor:pointer;

color:white;

margin-top:20px;


}



button:hover{

background:#FB8500;

}




.bloqueado{

opacity:.6;

filter:grayscale(.5);

}




.candado{

position:absolute;

right:20px;

top:20px;

font-size:35px;

}





/* ANIMACION */


@keyframes flotar{


50%{

transform:translateY(-15px);

}


}

.menu-top{

    display:flex;

    align-items:center;

    gap:30px;

}


.menu-top a{

    text-decoration:none;

    background:#FFD93D;

    color:white;

    padding:12px 25px;

    border-radius:30px;

    font-size:20px;

    transition:.3s;

}


.menu-top a:hover{

    background:#FF9F1C;

    transform:scale(1.1);

}